/* Home
* ===============
*
* Place all your home page declarations here */

body {
  background: {
    image: url("../images/graphic-makeacity_watermark@2x.png");
    position: bottom right;
    size: 80%;
    repeat: no-repeat;
  };
}

.mc-slider {
  .glide__arrow {
    top: 0;
    bottom: 0;
    transform: none;
    opacity: 0;
    width: 10px;

    @media screen and (min-width: 768px) {
      width: 40px;
    }
    @media screen and (min-width: 900px) {
      width: 60px;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}

.mc-slide {
  position: relative;
  opacity: .3;
  transition: opacity .7s;
  transition-timing-function: cubic-bezier(0, 0.71, 0.7, 0.8);

  &.glide__slide--active {
    opacity: 1;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 450px;


    @media (min-width: 64em) {
      height: 85vh;
      max-height: none;
    }
  }

  &__date {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }
}

.mc-hero {
  position: relative;

  &__content-holder {
    position: relative;
  }

  .mc-donate-button--mobile {
    position: relative;
    z-index: 1;
  }
}

.mc-hero__content {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  @media screen and (max-width: 64em) {
    .mc-hero__title {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 48em) {
    padding: 50px 25px 39px;
    top: 0;
    bottom: 0;
    left: 0;
    transform: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mc-hero__title {
      font-size: 1.6rem;
      margin-bottom: .5em;
    }

    .mc-hero__text {
      font-size: 1.1rem;
      margin: .5rem 0;
    }

    .mc-donate-button {
      display: none;
    }
  }
}

.mc-head-wrapper {
  text-align: center;
  padding: 142px 0 90px;
}

// mc-help
.mc-help-section {
  padding-bottom: 150px;
  overflow: hidden;

  .mc-head-wrapper {
    margin-bottom: 73px;
  }

  .with-arrow {
    position: relative;

    img {
      position: absolute;
      top: -103%;
      left: -300px;
      width: calc(100% + 300px);
      height: auto;
      pointer-events: none;

      @media screen and (min-width: 48em) {
        top: -148%;
        left: 0;
        width: 100%;
        height: 869px;
      }

      @media screen and (min-width: 64em) {
        top: -148%;
        left: -161%;
        width: auto;
      }
    }
  }
}

.mc-help {
  text-align: center;
  margin-bottom: 2em;

  @media screen and (min-width: 64em) {
    text-align: left;
    margin-bottom: 0;
  }

  &__size {
    font-weight: 900;
    font-size: 96px;
    line-height: 112px;
    color: $primary-color;
    margin-bottom: 15px;

    sup {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      vertical-align: text-top;
      top: unset;
    }
  }

  &__desc {
    font-size: 26px;
    line-height: 30px;
    max-width: 200px;
    margin: {
      right: auto;
      left: auto;
    };

    @media screen and (min-width: 64em) {
      max-width: 135px;
      margin: {
        right: 0;
        left: 0;
      };
    }
  }

  &__count {
    display: block;
    font-weight: 500;
    margin-bottom: .5em;

    &:after {
      content: url("../images/tick.svg");
      margin-left: 1em;
    }
  }
}

.mc-help-report {
  &-slider {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;

    &__item {
      height: 281px;

      @media screen and (min-width: 30em) {
        height: 400px;
        width: 100%;
      }

      @media screen and (min-width: 40em) {
        height: 600px;
        width: 100%;
      }

      &:before {
        content: none;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: auto;
        max-height: initial;
      }
    }
  }

  &-wrapper {
    position: relative;
    margin: 0 0 142px;

    @media screen and (min-width: 64em) {
      margin: 0 0 80px;
    }

    .mc-donate-button {
      @media screen and (max-width: 40em) {
        display: flex;
        width: calc(100% - 48px);
        margin: 0 16px;
      }

      @media screen and (min-width: 40em) {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// mc-donate
.mc-donate {
  padding-bottom: 100px;

  .mc-head-wrapper {
    padding-top: 0px;
  }

  @media screen and (min-width: 64em) {
    padding-bottom: 140px;

    .mc-head-wrapper {
      padding-bottom: 80px;
    }
  }

  .container {
    @media screen and (min-width: 64em) {
      max-width: 960px;
    }
  }

  dt {
    font-size: 1.5em;
  }

  dd {
    margin-bottom: 1.5em;
  }

  &-info {
    overflow: hidden;
    text-align: center;

    @media screen and (min-width: 48em) and (max-width: 64em) {
      width: 80%;
      margin: 0 auto;
    }

    @media screen and (min-width: 64em) {
      text-align: left;
    }

    &__bank-description {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 60px;

      img {
        display: inline-block;
        max-width: 150px;
      }

      @media screen and (min-width: 64em) {
        flex-direction: row;
        margin-bottom: 0;

        img + img {
          margin-left: 28px;
        }
      }
    }
  }
}

.mc-copy-btn {
  position: relative;
  top: -7px;
  background: {
    color: transparent;
    image: url("../images/copy.svg");
    size: contain;
  };
  border: none;
  width: 18px;
  height: 18px;
  padding: 0;
  cursor: pointer;
  transition: opacity .3s;

  &:after {
    content: attr(data-copy-tooltip);
    position: absolute;
    top: -.25em;
    left: calc(100% + 1em);
    background-color: #413d3d;
    color: #fff;
    padding: .25em .75em;
    border-radius: 1em;
    opacity: 0;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 4px;
    left: calc(100% + 8px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #413d3d transparent transparent;
    opacity: 0;
  }

  &__copied {
    &:before,
    &:after {
      opacity: 1;
    }
  }

  &:active {
    opacity: .75;
  }
}

// mc-kharkiv
.mc-kharkiv {
  background: {
    image: url("../images/graphic-2circunferences@2x.png");
    size: cover;
    repeat: no-repeat;
    position: center;
  };
  height: 500px;

  @media screen and (min-width: 48em) {
    background: {
      size: contain;
      position: center;
    };
  }

  @media screen and (min-width: 64em) {

    height: 80vh;

    &-head {
      width: 55%;
    }
    &__title {
      font-size: 96px;
    }
    &__text {
      font-size: 26px;
    }
  }
}

.mc-help__donate {
  padding: 0 0 178px;

  @media screen and (min-width: 64em) {
    padding: 0 0 211px;
  }
}

// mc-socials
.mc-social-section {
  .mc-socials {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      margin-left: 28px;
    }
  }

  .mc-social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 178px 0 122px;
    color: #B0B0B0;

    @media screen and (min-width: 64em) {
      flex-direction: row;
      padding: 211px 0 190px;
    }
  }
}


main section:last-child {
  padding-bottom: 60px;

  @media screen and (min-width: 64em) {
    padding-bottom: 140px;
  }
}

.mc-donate-button {
  width: 343px;
  height: 103px;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  box-shadow: 16px 16px #f8d456;
  transition: box-shadow .3s, color .3s;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    box-shadow: 0px 16px #f8d456;
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 48em) {
      display: flex;
      width: calc(100% - 48px);
      margin: 0 16px;
    }
  }
}

.map-holder {
  height: 450px;

  .map {
    position: absolute;
    left: 0;
    right: 0;
    height: 450px;
  }
}

.mc-benefits {
  padding-bottom: 60px;

  @media screen and (min-width: 64em) {
    padding-bottom: 140px;
  }

  .mc-help {
    &__count:after {
      content: none;
      margin-left: 0;
    }
  }
}


.mc-contacts {

  .mc-head-wrapper {
    padding-bottom: 0;

    @media screen and (min-width: 48em) {
      padding-bottom: 30px;
    }
  }

  &-list {
    @media screen and (min-width: 48em) {
      p + p {
        margin-left: 1em;
      }
    }
  }

  text-align: center;

  a[href^="mailto"]::before {
    content: "📧 ";
  }

  a[href^="tel"]::before {
    content: "📞 ";
  }

  &__address::before {
    content: "🏠 ";
  }
}

.map {

  .gm-style .gm-style-iw-c {
    padding: 16px;

    button {
      top: -3px !important;
      right: -3px !important;
    }
  }

  .mc-map-info {
    min-width: 120px;

    h3 {
      font-size: 1.5rem;
      margin: 0 0 0.5em;
    }

    p {
      margin: 0 0 .5em;
    }

    ul {
      list-style: disc;
      padding: 4px 0 0 12px;
      margin-bottom: .75rem;
    }
  }
}

.mc-payment-clarification {
  padding: 78px 0 0;

  @media screen and (min-width: 64em) {
    padding: 111px 0 0;
  }

  ul {
    list-style: disc;
    padding: 0 0 0 36px;
    margin-bottom: 2.1rem;
  }
}
