.container {
  width: 100%;
  max-width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 64em) {
    max-width: 980px;
  }

  @media screen and (min-width: 81em) {
    max-width: 1200px;
  }
}

.d-flex {
  display: flex;
}

@media screen and (min-width: 48em) {
  .d-md-flex {
    display: flex;
  }
}



