<!DOCTYPE html>
<html lang="<%= languages.default %>">
<head>
  <meta charset="UTF-8">
  <% headTags.forEach(function(tag) { %>
    <%- tag %>
  <% }); %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap"></noscript>
</head>
<body>

<!-- HEADER-->
<header class="mc-header">
  <div class="container">
    <div class="mc-header-wrapper">
      <a href="/" class="mc-logo">
        <img src="images/Logo-makeacity.svg" alt="Make the city">
      </a>

      <!--  LANG LIST    -->
      <nav class="mc-lang" id="language-switcher">
        <ul class="mc-lang__list">
          <% languages.list.forEach(function(language) { %>
            <li class="mc-lang__item">
              <a href='' class="mc-lang__link <%- language.code === languages.default ? 'mc-lang__link--current' : '' %>" data-lang="<%= language.code %>"><%= language.name %></a>
            </li>
          <%}); %>
        </ul>
      </nav>
      <!--  LANG LIST    -->
    </div>
  </div>
</header>
<!-- HEADER-->

<main>
  <!--  HERO SECTION  -->
  <section class="mc-hero">
    <!--    SLIDER     -->
    <div class="mc-hero__content">
      <h1 class="mc-hero__title">
        <%- include('./localize-text-template', { enText: localizedContent.en.cityCarousel.title, ukText: localizedContent.uk.cityCarousel.title }); %>
      </h1>
      <p class="mc-hero__text">
        <%- include('./localize-text-template', { enText: localizedContent.en.cityCarousel.description, ukText: localizedContent.uk.cityCarousel.description }); %>
      </p>
      <a href="#donate" class="mc-btn mc-hero__btn mc-donate-button">
        <%- include('./localize-text-template', { enText: localizedContent.en.cityCarousel.donateButton.text, ukText: localizedContent.uk.cityCarousel.donateButton.text }); %>
      </a>
    </div>
    <div class="mc-slider glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <% cityCarousel.slides.forEach(function(slide) { %>
          <li class="glide__slide mc-slide">
            <img src="images/<%- slide.image %>" alt="Kharkiv photo" class="mc-slide__img">
          </li>
          <%}); %>
        </ul>
      </div>
    </div>
    <!--    SLIDER     -->
    <a href="#donate" class="mc-btn mc-hero__btn mc-donate-button mc-donate-button--mobile">Donate now</a>
  </section>
  <!--  HERO SECTION  -->

  <!--  ABOUT SECTION  -->
  <section class="mc-help-section">
    <div class="container">
      <div class="mc-head-wrapper">
        <h2 class="">
          <%- include('./localize-text-template', { enText: localizedContent.en.alreadyHelpedSection.title, ukText: localizedContent.uk.alreadyHelpedSection.title }); %>
        </h2>
      </div>

      <div class="row">
          <% for (const key of Object.keys(localizedContent.en.alreadyHelpedSection.purchasedAids.list)) { %>
            <% var aidListItemEn = localizedContent.en.alreadyHelpedSection.purchasedAids.list[key]; %>
            <% var aidListItemUk = localizedContent.uk.alreadyHelpedSection.purchasedAids.list[key]; %>
            <div class="col-12 col-sm-6 col-md-3 with-arrow">
                <!--    HELP-ITEM      -->
                <div class="mc-help">
                  <span class="mc-help__size">
                    <%- include('./localize-text-template', { enText: aidListItemEn.amountText, ukText: aidListItemUk.amountText }); %>
                  </span>
                  <p class="mc-help__desc">
                    <%- include('./localize-text-template', { enText: aidListItemEn.productText, ukText: aidListItemUk.productText }); %>
                  </p>
                </div>
                <img src="images/graphic-arrow.svg" alt="graphic arrow">
                <!--    HELP-ITEM      -->
            </div>
          <% } %>
      </div>
    </div>
  </section>
  <!--  ABOUT SECTION  -->

  <!--  DONATE SECTION  -->
  <section id="donate" class="mc-donate">
    <div class="container">
      <div class="mc-head-wrapper">
        <h2>
          <%- include('./localize-text-template', { enText: localizedContent.en.donateSection.title, ukText: localizedContent.uk.donateSection.title }); %>
        </h2>
        <p>
          <%- include('./localize-text-template', { enText: localizedContent.en.donateSection.description, ukText: localizedContent.uk.donateSection.description }); %>
        </p>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="mc-donate-info">
            <img src="images/card.svg" alt="card icon">

            <h3>
              <%- include('./localize-text-template', { enText: localizedContent.en.donateSection.beneficiary.title, ukText: localizedContent.uk.donateSection.beneficiary.title }); %>
            </h3>

            <dl>
              <dt>IBAN</dt>
              <dd>
                UA 00 000000 00000 0000 0000 0000 00
                <button class="mc-copy-btn" data-copy="UA 00 000000 00000 0000 0000 0000 00" title="copy"></button>
              </dd>

              <dt>Account No</dt>
              <dd>
                00000000000000
                <button class="mc-copy-btn" data-copy="00000000000000" title="copy"></button>
              </dd>

              <dt>Receiver</dt>
              <dd>
                John Doe, <address> 61000, Ukraine, reg. Kharkivska, c. Kharkiv, str. Whatever, build. 00, fl. 00</address>
                <button class="mc-copy-btn" data-copy="John Doe, 61000, Ukraine, reg. Kharkivska, c. Kharkiv, str. Whatever, build. 00, fl. 00" title="copy"></button>
              </dd>
            </dl>

            <h4>
              <%- include('./localize-text-template', { enText: localizedContent.en.donateSection.beneficiary.beneficiaryBankTitle, ukText: localizedContent.uk.donateSection.beneficiary.beneficiaryBankTitle }); %>
            </h4>

            <dl>
              <dt>Bank</dt>
              <dd>
                JSC UNIVERSAL BANK
                <button class="mc-copy-btn" data-copy="JSC UNIVERSAL BANK" title="copy"></button>
              </dd>

              <dt>City</dt>
              <dd>
                <address>KYIV, UKRAINE</address>
                <button class="mc-copy-btn" data-copy="KYIV, UKRAINE" title="copy"></button>
              </dd>

              <dt>Swift code</dt>
              <dd>
                SWIFTCODE
                <button class="mc-copy-btn" data-copy="SWIFTCODE" title="copy"></button>
              </dd>
            </dl>

            <div class="d-flex mc-donate-info__bank-description">
              <img src="images/UniversalBank.svg" alt="Universal Bank logo">
              <img src="images/secure_transaction.svg" alt="secure transaction">
            </div>
          </div>
        </div>

        <div class="col-12 col-md-offset-1 col-md-5">
          <div class="mc-donate-info">
            <img src="images/Info.svg" alt="info icon">

            <h3>
              <%- include('./localize-text-template', { enText: localizedContent.en.donateSection.paymentDetails.title, ukText: localizedContent.uk.donateSection.paymentDetails.title }); %>
            </h3>

            <%- include('./localize-text-template', { enText: localizedContent.en.donateSection.paymentDetails.text, ukText: localizedContent.uk.donateSection.paymentDetails.text }); %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  DONATE SECTION  -->

  <!--  Kharkiv SECTION  -->
  <section class="mc-kharkiv d-flex center middle">
    <div class="mc-kharkiv-head">
      <h2 class="mc-kharkiv__title">
        <%- include('./localize-text-template', { enText: localizedContent.en.makeTheCitySection.title, ukText: localizedContent.uk.makeTheCitySection.title }); %>
      </h2>
      <p class="mc-kharkiv__text">
        <%- include('./localize-text-template', { enText: localizedContent.en.makeTheCitySection.description, ukText: localizedContent.uk.makeTheCitySection.description }); %>
      </p>
    </div>
  </section>
  <!--  Kharkiv SECTION  -->

  <!-- SECTION DONATION PLANS -->
  <section>
    <div class="container">
      <div class="mc-head-wrapper">
        <h2>
          <%- include('./localize-text-template', { enText: localizedContent.en.donationPlansSection.title, ukText: localizedContent.uk.donationPlansSection.title }); %>
        </h2>
      </div>

      <div class="row mc-donation-plans">
        <% for (const key of Object.keys(localizedContent.en.donationPlansSection.plans.list)) { %>
          <% var planListItemEn = localizedContent.en.donationPlansSection.plans.list[key]; %>
          <% var planListItemUk = localizedContent.uk.donationPlansSection.plans.list[key]; %>
          <div class="col-12 col-sm-6 col-md-3 with-arrow">
            <!--    HELP-ITEM      -->
            <div class="mc-help">
              <span class="mc-help__size">
                <%- include('./localize-text-template', { enText: planListItemEn.priceText, ukText: planListItemUk.priceText }); %>
              </span>
              <p class="mc-help__desc">
                <span class="mc-help__count">
                  <%- include('./localize-text-template', { enText: planListItemEn.product.amount, ukText: planListItemUk.product.amount }); %>
                </span>
                <%- include('./localize-text-template', { enText: planListItemEn.product.text, ukText: planListItemUk.product.text }); %>
              </p>
            </div>
            <!--    HELP-ITEM      -->
          </div>
        <% } %>
      </div>

      <div class="d-flex center mc-help__donate">
        <a href="#donate" class="mc-btn mc-hero__btn mc-donate-button">
          <%- include('./localize-text-template', { enText: localizedContent.en.cityCarousel.donateButton.text, ukText: localizedContent.uk.cityCarousel.donateButton.text }); %>
        </a>
      </div>
    </div>
  </section>
  <!-- SECTION DONATION PLANS -->

  <% if (socialMedia.isRendered) { %>
    <div class="mc-social-section">
      <div class="container">
        <div class="mc-social-wrapper">
          <%- include('./localize-text-template', { enText: localizedContent.en.socialMedia.title, ukText: localizedContent.uk.socialMedia.title }); %>

          <ul class="mc-socials">
            <% socialMedia.items.forEach(function(item) { %>
            <li class="mc-socials__item">
              <a href="<%= item.href %>" target="_blank" class="mc-socials__link">
                <img src="images/socialIcons/<%= item.icon %>" alt="<%= item.alt %>">
              </a>
            </li>
            <%}); %>
          </ul>
        </div>
      </div>
    </div>
  <% } %>
</main>

<!--   FOOTER   -->
<footer class="mc-footer">
  <div class="container">
    <div class="mc-footer-wrapper">
      <% for (const key of Object.keys(localizedContent.en.footer.logos.list)) { %>
      <% var logoItemEn = localizedContent.en.footer.logos.list[key]; %>
      <% var logoItemUk = localizedContent.uk.footer.logos.list[key]; %>
        <div class="mc-footer-item">
          <% if (logoItemEn.href && logoItemUk.href) { %>
          <a href="<%- logoItemEn.href %>" target="_blank">
          <% } %>
          <% if (logoItemEn.image.src) { %>
            <img src="images/<%- logoItemEn.image.src %>" alt="<%- logoItemEn.image.alt %>">
          <% } %>
          <% if (logoItemEn.text && logoItemUk.text) { %>
            <%- include('./localize-text-template', { enText: logoItemEn.text, ukText: logoItemUk.text }); %>
          <% } %>
          <% if (logoItemEn.href && logoItemUk.href) { %>
          </a>
          <% } %>
        </div>
      <% }; %>
    </div>
  </div>
</footer>
<!--   FOOTER   -->
</body>
</html>


